<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Nguyen Duc Bao Son</mat-card-title>
        <mat-card-subtitle>Angular 16 - Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://angular.io/assets/images/logos/angular/angular.svg"/>
    <mat-card-content>
        <p>
            Next, create the input and set the matAutocomplete input to refer to the template reference we assigned to
            the autocomplete. Let's assume you're using the formControl directive from ReactiveFormsModule to track the
            value of the input.

            Note: It is possible to use template-driven forms instead, if you prefer. We use reactive forms in this
            example because it makes subscribing to changes in the input's value easy. For this example, be sure to
            import ReactiveFormsModule from @angular/forms into your NgModule. If you are unfamiliar with using reactive
            forms, you can read more about the subject in the Angular documentation.

            Now we'll need to link the text input to its panel. We can do this by exporting the autocomplete panel
            instance into a local template variable (here we called it "auto"), and binding that variable to the input's
            matAutocomplete property.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Nguyen Duc Bao Son</mat-card-title>
        <mat-card-subtitle>Angular 16 - Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="https://angular.io/assets/images/logos/angular/angular.svg"/>
    <mat-card-content>
        <p>
            Next, create the input and set the matAutocomplete input to refer to the template reference we assigned to
            the autocomplete. Let's assume you're using the formControl directive from ReactiveFormsModule to track the
            value of the input.

            Note: It is possible to use template-driven forms instead, if you prefer. We use reactive forms in this
            example because it makes subscribing to changes in the input's value easy. For this example, be sure to
            import ReactiveFormsModule from @angular/forms into your NgModule. If you are unfamiliar with using reactive
            forms, you can read more about the subject in the Angular documentation.

            Now we'll need to link the text input to its panel. We can do this by exporting the autocomplete panel
            instance into a local template variable (here we called it "auto"), and binding that variable to the input's
            matAutocomplete property.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Nguyen Duc Bao Son</mat-card-title>
        <mat-card-subtitle>Angular 16 - Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="https://angular.io/assets/images/logos/angular/angular.svg"/>
    <mat-card-content>
        <p>
            Next, create the input and set the matAutocomplete input to refer to the template reference we assigned to
            the autocomplete. Let's assume you're using the formControl directive from ReactiveFormsModule to track the
            value of the input.

            Note: It is possible to use template-driven forms instead, if you prefer. We use reactive forms in this
            example because it makes subscribing to changes in the input's value easy. For this example, be sure to
            import ReactiveFormsModule from @angular/forms into your NgModule. If you are unfamiliar with using reactive
            forms, you can read more about the subject in the Angular documentation.

            Now we'll need to link the text input to its panel. We can do this by exporting the autocomplete panel
            instance into a local template variable (here we called it "auto"), and binding that variable to the input's
            matAutocomplete property.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Nguyen Duc Bao Son</mat-card-title>
        <mat-card-subtitle>Angular 16 - Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="https://angular.io/assets/images/logos/angular/angular.svg"/>
    <mat-card-content>
        <p>
            Next, create the input and set the matAutocomplete input to refer to the template reference we assigned to
            the autocomplete. Let's assume you're using the formControl directive from ReactiveFormsModule to track the
            value of the input.

            Note: It is possible to use template-driven forms instead, if you prefer. We use reactive forms in this
            example because it makes subscribing to changes in the input's value easy. For this example, be sure to
            import ReactiveFormsModule from @angular/forms into your NgModule. If you are unfamiliar with using reactive
            forms, you can read more about the subject in the Angular documentation.

            Now we'll need to link the text input to its panel. We can do this by exporting the autocomplete panel
            instance into a local template variable (here we called it "auto"), and binding that variable to the input's
            matAutocomplete property.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>